<div class="product-listing">
	<%= link_to image_tag(product.image.url(:small), :title => product.name.titleize, :alt => product.name.titleize), product_path(product) %>
	<span class="product-name"><%= link_to product.name.titleize, product_path(product) %></span>
	<div>
		<div class="product-prices">
			<span class="product-price"><%= number_to_currency(product.price) %></span>
		</div>
		<div class="product-buy">
			<span class="product-buy"><%= link_to image_tag('basket_put.png')+" Buy", line_items_path(:product_id => product), :method => :post, :class => "button positive" %></span>
		</div>
	</div>
</div>