<h1>About Us</h1>

<h2>What we do</h2>
<p>
	We sell a wide variety of quality items including miniature wargames, action figures, trading cards and painting and modelling supplies.
</p>

<h2>Who we are</h2>
<p>
	Caliburn Entertainment is a retail and web-based shop based in Oswestry, Shropshire.
</p>

<h2>History</h2>
<p>
	This website first started as an Amazon Store called Caliburn Books where we sold mostly science fiction and fantasy books. 
	As we started to sell more items, we branched out into other areas that interested us including Transformers and Warhammer. 
	It was at this time that we rebranded ourselves as Caliburn Entertainment, to better illustrate that we are not only a book specialist.  
	Due to the high fees charged by Amazon we moved to eBay, where we have scored a <%= link_to "100% positive feedback rating", "http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=caliburnentertainment11&ftab=AllFeedback" %>. 
	We still maintain an eBay shop selling mostly the same items as we list here. 
	We decided to develop this website to showcase our products and provide a better, more user friendly experience for our customers. 
	We also hope to offer more competitive prices than our eBay shop as we do not have to pay the high eBay fees when selling through this website.
</p>

<p>
	In October, 2013, we opened a retail shop in Oswestry, Shopshire where you can come to see much of the stock listed on this website on display. We also have several large gaming tables in the shop and host regular gaming events, which you can find out about on our <%= link_to "facebook page", "http://www.facebook.com/caliburnentertainment" %>. We hope to see you there soon!
</p>

<h2>Visit us elsewhere on the web</h2>

<p>
	<%= link_to image_tag("ebay_shop.png"), "http://stores.ebay.co.uk/caliburn-entertainment" %>
</p>

	<div class="fb-follow" data-href="http://www.facebook.com/caliburnentertainment" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="standard" data-show-faces="false"></div>
	