<h1>Contact</h1>

<p>If you have any questions we can be contacted by email or post.</p>

<div class="contact-container">
	<div class="contact-icon"><%= link_to image_tag("email.png"), "mailto:caliburnentertainment@gmail.com" %></div>
	<div class="contact-detail"><%= link_to "caliburnentertainment@gmail.com", "mailto:caliburnentertainment@gmail.com" %></div>
	<div class="clear"></div>
</div>

<div class="contact-container">
	<div class="contact-icon"><%= image_tag("pencil.png") %></div>
	<div class="contact-detail">
		Caliburn Entertainment<br/>
		33 Maes-Y-Waun<br/>
		Chirk<br/>
		Wrexham<br/>
		LL14 5ND<br/>
		United Kingdom
	</div>
	<div class="clear"></div>
</div>
