<div class="span-22 prepend-1 append-1">
	<h1 class="homepage">Welcome</h1>
	<p>
		Caliburn Entertainment is a retailer operating out of Oswestry, Shropshire. We specialise in miniature wargames, action figures, trading cards and painting and modelling supplies.
	</p>
</div>

<div class="span-22 prepend-1 append-1">
	<h2>What Our Customers Say</h2>
</div>
<div class="span-22 prepend-1 append-1">
	<div class="span-17">
		<div class="standard-box-header" class="span-17 last"></div>
		<div class="standard-box-bg" class="span-17 last">
			<div class="standard-box-content" id="feedback">
				<div>
					<p class="feedback">
						<span>&ldquo;Not only were the figures the most competitively priced I have seen, but the postage was as equally good, as was the speed of despatch, packing, communications throughout and the service as a whole. A thoroughly pleasant transaction and a new customer who will certainly be back for more.&rdquo;</span><br><br>
						Trevor, Brighton
					</p>
					
					<p class="feedback">
						<span>&ldquo;Thanks I received the Tie pilot today that's what I call service many thanks again.&rdquo;</span><br><br>
						William, Milton Keynes
					</p>
				</div>
				
				<div>
					<p class="feedback">
						<span>&ldquo;I feel it is always a good sign when you get a prompt response to a query from a supplier, and I often use this to 'test the water' and that is what gave me the confidence to order from your new site. Thank you for your prompt and courteous service. Hope to do business with you again.&rdquo;</span><br><br>
						Christine, London
					</p>
					<p class="feedback">
						<span>&ldquo;Thank you for the fast delivery...it arrived in perfect condition. I will recommend you and will use Caliburn Entertainment in the future if I need any other Star Wars figures.&rdquo;</span><br><br>
						Sophie, Essex
					</p>
				</div>
				<div>
					<p class="feedback">
						<span>&ldquo;Excellent seller! fast delivery, great service.&rdquo;</span><br>
						darkclaw75, eBay
					</p>
					<p class="feedback">
						<span>&ldquo;Awesome Item, Awesome Seller, hope to deal with again! A+++++&rdquo;</span><br>
						hopeisbright, eBay
					</p>
					<p class="feedback">
						<span>&ldquo;Accurate description, Great communication, arrived 2 days before the estimate.&rdquo;</span><br>
						transformerfan515, eBay
					</p>
					<p class="feedback">
						<span>&ldquo;Item despatched quickly, good comms, thanks.&rdquo;</span><br>
						alexvic9, eBay
					</p>
				</div>
				<div>
					<p class="feedback">
						<span>&ldquo;Nice to do business with-very efficient...&rdquo;</span><br>
						area-51-corfu, eBay
					</p>
					<p class="feedback">
						<span>&ldquo;Fantastic seller! Well recommended! 5 stars!&rdquo;</span><br>
						mtwe7476, eBay
					</p>
					<p class="feedback">
						<span>&ldquo;A truly top seller with no problems, Many Thanks.&rdquo;</span><br>
						demonzpantz, eBay
					</p>
					<p class="feedback">
						<span>&ldquo;Super fast delivery, Quality Item, Very Very pleased with purchase.&rdquo;</span><br>
						lawrencekp, eBay
					</p>
				</div>
			</div>
		</div>
		<div class="standard-box-footer" class="span-17 last"></div>
		
		<h2>Featured Products</h2>
		<div class="standard-box-header" class="span-17 last"></div>
		<div class="standard-box-bg" class="span-17 last">
			<div class="standard-box-content">
				<% unless @featured_products.empty? %>
					<% @featured_products.each do |product| %>
						<%= render :partial => '/shop/product_listing', :locals => {:product => product} %>
					<% end %>
				<% else %>
					No currently featured products.
				<% end %>
				<div class="clear"></div>
			</div>
		</div>
		<div class="standard-box-footer" class="span-17 last"></div>
		
		<h2>New Arrivals</h2>
		<div class="standard-box-header" class="span-17 last"></div>
		<div class="standard-box-bg" class="span-17 last">
			<div class="standard-box-content">
				<% @new_products.each do |product| %>
					<%= render :partial => '/shop/product_listing', :locals => {:product => product} %>
				<% end %>
				<div class="clear"></div>
			</div>
		</div>
		<div class="standard-box-footer" class="span-17 last"></div>
		
		
	</div>
	
	<div class="span-5 last">
		<div class="sidebar-single-header" class="span-5 last"></div>
		<div class="sidebar-single-bg" class="span-5 last">
			<div class="sidebar-single-content">
				<div id="paypal-logo">
					<h3>Shop With Confidence</h3>
					<!-- PayPal Logo -->
					<table border="0" cellpadding="10" cellspacing="0" align="center">
						<tr>
							<td align="center">
								<a href="#" onclick="javascript:window.open('https://www.paypal.com/uk/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');">
									<img  src="https://www.paypal.com/en_GB/i/bnr/vertical_solution_PP.gif" border="0" alt="Solution Graphics">
								</a>
							</td>
						</tr>
					</table>
					<!-- PayPal Logo -->
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="sidebar-single-footer" class="span-5 last"></div>
		
		<div class="clear"></div>
		
		<div class="sidebar-single-header" class="span-5 last"></div>
		<div class="sidebar-single-bg" class="span-5 last">
			<div class="sidebar-single-content">
				
					<h3>Postage Discounts</h3>
					<p>We will automatically refund any postage discounts if you are ordering a large number of items. Please see <%= link_to "Terms & Conditions", terms_path %> for more information.</p>
				
			</div>
			<div class="clear"></div>
		</div>
		<div class="sidebar-single-footer" class="span-5 last"></div>
	</div>
</div>