<h1>Terms &amp; Conditions</h1>

<h2>Postage</h2>
<p>
	Postage price quoted covers the cost of posting the item and extra materials needed such as bubble wrap, jiffy bags etc. 
	All items over £10 are sent by 1st or 2nd class recorded delivery. 
	For all items sent by standard post, a receipt of posting is kept in case anything happens to the item in the post.
</p>

<h2>Multiple postage discounts</h2>
<p>
	If you purchase more than one item at the same time please <%= link_to "contact us", contact_path %> and we will work out any postage discounts that can be arranged.
	We always try to be as reasonable as possible in this as we know postage rates are very important to our customers.
</p>

<h2>Offers</h2>
<p>Please note we are unable to accept offers for any of our products, all prices quoted are non-negotiable. </p>

<h2>Returns</h2>
<p>If you are unhappy with an item you brought from us for any reason please <%= link_to "contact us", contact_path %> and we will do our best to resolve your problem.</p>