/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require blueprint/screen
 *= require blueprint/fancy_type
 *= require blueprint/buttons
 *= require_self
 *= require_directory . 
*/

p + p {
  text-indent: 0;
  margin: 0 0 1.5em;
}

p {
  margin: 0 0 1.5em;
}

body {
  font-family: "Verdana";
  background-color: whiteSmoke;
  font-size: 13px;
}

h1, h2, h3 {
  font-family: "Century Gothic";
  letter-spacing: -1px;
  font-weight: 100;
  color: #666;
}

h1 {
  font-size: 30px;
}

h1.homepage {
  color: #b9140c;
}

#banner {
  margin-top: 0px;
  margin-bottom: 5px;
}

#banner-links {
  margin-top: 60px;
}
 
#header {
  margin-top: 5px;
  margin-bottom: 15px;
}

#full-content, #left-sidebar-content, #small-content, .sidebar-single-content, .standard-box-content {
  margin: 0 15px;
}

#full-content-header, #left-sidebar-header, .sidebar-single-header, .standard-box-header {
  height:15px;
  min-height:15px;
}
 
#full-content-footer, #left-sidebar-footer, .sidebar-single-footer, .standard-box-footer {
  height:15px;
  min-height:15px;
  text-align:center;
  margin-bottom: 20px;
}

.sidebar-single-bg {
  background: #fff url(sidebar-single-bg.png) 0 0 repeat-y;
}

.sidebar-single-header {
  background: whiteSmoke url(sidebar-single-head.png) 0 0 no-repeat;
}

.sidebar-single-footer {
  background: whiteSmoke url(sidebar-single-foot.png) 0 0 no-repeat;
}

.standard-box-bg {
  background: #fff url(standard-box-bg.png) 0 0 repeat-y;
}

.standard-box-header {
  background: whiteSmoke url(standard-box-head.png) 0 0 no-repeat;
}

.standard-box-footer {
  background: whiteSmoke url(standard-box-foot.png) 0 0 no-repeat;
}

#full-content-header {
  background: whiteSmoke url(full-content-head.png) 0 0 no-repeat;
}

#full-content-bg {
  background: #fff url(full-content-bg.png) 0 0 repeat-y;
}

#full-content-footer {
  background: whiteSmoke url(full-content-foot.png) 0 0 no-repeat;
}

#left-sidebar-header {
  background: whiteSmoke url(sidebar-head.png) 0 0 no-repeat;
}

#left-sidebar-bg {
  background: #fff url(sidebar-bg.png) 0 0 repeat-y;
}

#left-sidebar-footer {
  background: whiteSmoke url(sidebar-foot.png) 0 0 no-repeat;
}

h1#header-title {
  margin: 0;
  color: red;
}

div#banner-links {
  text-align: right;
}

div#banner-links a {
  text-decoration: none;
}

div#banner-links a span:hover {
  text-decoration: underline;
}

div.actions {
  margin-top: 10px;
}

td {
  background-color: #fff !important;
}

.product-listing form, .product-listing form div {
  display: inline;
}

td.price, tr.total-line td {
  text-align: right;
}

td.total-price {
  font-weight: bold; 
  border-top: 1px solid #595;
}

div.field, div.actions {
  margin-bottom: 1em;
}

.field_with_errors {
  padding: 2px;
  background-color: #FBC2C4;
  display: table; 
}

.level-1 {
  padding-left: 5px;
}

.level-2 {
  padding-left: 10px;
}

ul.categories {
  padding-left: 0px;
}

ul.categories, ul.categories li {
  list-style-type: none;
}

ul.categories li {
  padding-left: 5px;
}

ul.categories li.current {
  background-color: lightGray;
}

ul.sub-categories {
  margin-left: 10px;
}

a, a:hover {
  color: #2166A2;
}

a, a span {
  text-decoration: none;
}

a:hover, a span:hover {
  text-decoration: underline;
}

div.product-row {
  border-top: thin dotted #666;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.product-listing {
  width: 210px;
  margin-right: 3px;
  float:left;
}

div.product-listing span.product-name {
  display: block;
}

div.product-listing span.product-name a {
  font-weight: bold;
}

div.product-listing span.product-price {
  float: left;
  margin-top: 1em;
  font-weight: bold;
}

div.product-listing span.product-buy {
  float: right;
}

.clear {
  clear:both;
}

div#product-details div.product-price {
  float: left;
  margin-top: 1em;
  font-weight: bold;
}

div#product-details div.product-buy {
  float: right;
}

.pagination {
  margin-top: 1em;
  font-size: 14px;
}

div#footer-links {
  text-align: center;
  margin-bottom: 20px;
}

p.out-of-stock {
  color: #D12F19;
  font-weight: bold;
}

p.in-stock {
  font-weight: bold;
  color: #529214;
}

div.contact-icon {
  float: left;
}

div.contact-detail {
  float: left;
  margin-left: 10px;
}

div.contact-container {
  margin: 20px 0;
}

div#home-sidebar {
  background-color: white;
  border: thin dotted #666;
  padding: 10px;
}

div#paypal-logo table {
  margin-bottom: 0;
  padding-bottom: 0;
}

div#paypal-logo h3 {
  margin-bottom: 5px;
}