/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require blueprint/screen
 *= require blueprint/fancy_type
 *= require blueprint/buttons
 *= require_self
 *= require_directory . 
*/

p + p {
  text-indent: 0;
  margin: 0 0 1.5em;
}

p {
  margin: 0 0 1.5em;
}

body {
  font-family: "Verdana";
  background-color: whiteSmoke;
  font-size: 13px;
}

h2 {
  font-family: "Georgia";
}

#banner {
  margin-top: 0px;
}

#banner-links {
  margin-top: 50px;
}

 
#header {
  height: 150px;
  min-height: 150px;
}

#full-content, #left-sidebar-content, #small-content {
  margin: 0 15px;
}

#full-content-header, #left-sidebar-header {
  height:15px;
  min-height:15px;
}
 
#full-content-footer, #left-sidebar-footer {
  height:15px;
  min-height:15px;
  text-align:center;
  margin-bottom: 20px;
}

#full-content-header {
  background: whiteSmoke url(full-content-head.png) 0 0 no-repeat;
}

#full-content-bg {
  background: #fff url(full-content-bg.png) 0 0 repeat-y;
}

#full-content-footer {
  background: whiteSmoke url(full-content-foot.png) 0 0 no-repeat;
}

#left-sidebar-header {
  background: whiteSmoke url(sidebar-head.png) 0 0 no-repeat;
}

#left-sidebar-bg {
  background: #fff url(sidebar-bg.png) 0 0 repeat-y;
}

#left-sidebar-footer {
  background: whiteSmoke url(sidebar-foot.png) 0 0 no-repeat;
}

h1#header-title {
  margin: 0;
  color: red;
}

div#banner-links {
  text-align: right;
}

div#banner-links a {
  text-decoration: none;
}

div#banner-links a span {
  text-decoration: underline;
}

div.actions {
  margin-top: 10px;
}

td {
  background-color: #fff !important;
}

.product-listing form, .product-listing form div {
  display: inline;
}

td.price, tr.total-line td {
  text-align: right;
}

td.total-price {
  font-weight: bold; 
  border-top: 1px solid #595;
}