<% if img.class == Product %>
	<span>
		<%= link_to image_tag(img.image.url(:thumb)), img.image.url(:original), :class => "fancybox", :rel => "product-images" %>
		<div style="display:none">
			<%= link_to image_tag(img.image.url(:medium)), img.image.url(:original), :class => "fancybox" %>
		</div>
	</span>
<% else %>
	<span>
		<%= link_to image_tag(img.image.url(:thumb)), img.image.url(:original), :class => "fancybox", :rel => "product-images" %>
		<div style="display:none">
			<%= link_to image_tag(img.image.url(:medium)), img.image.url(:original), :class => "fancybox", :rel => "main-product-images" %>
		</div>
	</span>
<% end %>