<div id="header" class="span-24 last">
	<div id="banner" class="span-18 prepend-1">
		<%= link_to image_tag("logo.png"), root_path %>
	</div>
	<div id="banner-links" class="span-4 append-1 last">
		<%= link_to(basket_path) do %>
			<img src="/assets/basket.png">
			<span>View Basket</span>
		<% end %>
	</div>
	<%= render :partial => 'layouts/menu' %>
</div>