<div class="span-22 last prepend-1 append-1">
	<% unless notice.blank? %>
		<p class="notice"><%= notice %></p>
	<% end %>
	<% unless alert.blank? %>
		<p class="alert"><%= alert %></p>
	<% end %>
</div>